### RUST ###

/target/


### CUSTOM ###

/custom/

# Any map of stuttgart-regbez
/resources/stuttgart-regbez_[0-9][0-9][0-9][0-9]-[0-9][0-9]-[0-9][0-9]/graph*

# Any map of saarland
/resources/saarland_[0-9][0-9][0-9][0-9]-[0-9][0-9]-[0-9][0-9]/graph*
