body {
    margin: 0;
}

#map {
    height: 100%;
    width: 85%;
    float: right;
}

#queryBox {
    height: 100%;
    width: 15%;
    float: left;
    background-color: #E8E8E8;

}

h4 {
    margin-left: 10px;
    font-size: 20px;
}

input {
    /* margin-left: 4px */ 
    display: inline-block;
    margin-bottom: 10px;
    font-size: 16px;
    padding: 3px 5px;
    border: 1px solid black;
    border-radius: 4px;
}

input[type="button"] {
    /* border: 2px solid black; */
    border: none;
    border-radius: 12px;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    background-color: #303030;
    color: white;
  }

  input[type="button"]:hover {
    background-color: black;
  }

  .text {
    display: inline-block;
    margin-left: 5px;
    font-size: 20px;
    font-style: bold; 
    color: black;
}

  .customButton {
    margin-top: 10px; 
    margin-left: 50px;
  }